body {
    margin: 0;
    font-family: "Roboto";
    background-image: url(images/header.jpg);
}

.input-field input {
        border-bottom: 1px solid #FFFFFF !important;
        box-shadow: 0 1px 0 0 #6AB8EB !important;
}

.input-field label {
    color: rgba(255,255,255,0.5);
}

[type="radio"]:not(:checked)+label:before, [type="radio"]:not(:checked)+label:after {
    border: 2px solid #FFF;
}

label {
    color: rgba(255,255,255,0.5);
}

.nav-wrapper:hover {
    box-shadow: 0px 7px 5px #6AB8EB;
}

.nav-wrapper {
    box-shadow: 0px 3px 5px #6AB8EB;
    transition: box-shadow 0.4s;
    background-color: #2F688D;
}

.nav-wrapper a {
    color: #FFF;
}

.nav-wrapper li {
    background-color: #2F688D;
}

.nav-wrapper li a {
    color: white;
}

.collection {
    margin-top: 2.5%;
    margin-left: 2.5%;
    margin-right: 2.5%;
    width: 95%;
}

.collection .collection-item {
    background-color: #F0DE89;
    color: #6E653F;
}

.collection a.collection-item {
    color: #6E653F;
}

#blanks {
    text-align: center;
}

#blanks h2 {
    margin-left: 1%;
    display: inline;
    margin-right: 1%;
}

.mainBtns { 
    margin-top: 4%;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    text-align: center;
    position: absolute;
}

.graph {
    padding-top: 5%;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    text-align: left;
    color: white;
}

.graph-bar {
    height: 5%;
    width: 90%;
    display: inline-block;
}

.graph-label {
    width: 10%;
    float: left;
    text-align: center;
}

.graph-value {
    float: left;
    min-height: 50px;
    /* width: 85%; */
    width: 0%;
    background: rgba(125, 184, 222, 0.9);
    transition: width 1.5s;
}

.graph-percentage {
    float: left;
    width: 5%;
    text-align: center;
}

.graph-value p {
    padding-left: 2%;
}

.mainBtns a {
    display: inline-block;
    text-align: center;
    width: 40%;
    margin-left: 2.5%;
    margin-right: 2.5%;
}

.btn {
    background-color: #6AB8EB;
}

.btn:hover {
    background-color: #2F688D;
}

#recordList a.collection-item {
    font-size: 300%;
    padding-bottom: 4%;
    padding-top: 4%;
    padding-left: 15%;
    padding-right: 15%;
}

.playback {
    margin-top: 2%;
    margin-bottom: 1%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 65px;
}

#PlayBtn {
    background-color: #413c25;
}

#PlayBtn:hover {
    background-color: #006500;
}

#HomeBtn {
    background-color: #413c25;
}

#HomeBtn:hover {
    background-color: #910000;
}

.letterChoice {
    display: block;
    margin-top: 3%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#resultList {
    display: none;
    margin-top: 3%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#gameNext {
    display: none;
}

#square {
	width: 90%;
	height: 90%;
	background: red;
}

.letterChoice ul a {
    padding-left: 20px;
    padding-right: 30px;
    align-content: center;
    width: 1%;
}

.MiddleContent{
    text-align: center;
}

.MiddleContent h2{
    padding-top: 25px;
    font-size: 200%;
    font-weight: 100;
    text-align: center;
    color: white;
}

.MiddleContent hr{
    color: white;
    border-style: solid;
    border-width: 3px;
    max-width: 10%;
    border-radius: 10px;
}

.MiddleContent p{
    font-size: 18px;
    text-align: center;
    color: rgba(255, 255, 255, 0.7);
    max-width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.MiddleContent a {
    padding: 15px 30px;
    border-radius: 4px;
    font-weight: 700;
    text-transform: uppercase;
    background-color: white;
    display: inline-block;
    font-size: 14px;
    line-height: 1.42857143;
    text-decoration: none;
    color: #222222;
    transition-duration: 0.4s;
    object-position: center;
    position: static;
}

.MiddleContent a:hover{
    background-color: #2F688D;
    color: white;
}

#End_Footer{
    background-color: #222222EE;
    margin: 0;
    position: fixed;
    bottom:0;
    width:100%;
    transition: all 0.5s ease;
    height: 10%;
}

#Hover_Mode{
  position: absolute;
  width:100%;
  align-content: center;
  bottom: -200%;
  background-color: #222222EE; 
  transition: all 0.5s ease;
  padding-bottom: 1%;
}

#End_Footer:hover #Hover_Mode{
    bottom: 0;
}

#End_Footer h2 {
    transition: all 0.5s ease;
}

#End_Footer:hover h2 {
    color: #222222EE; 
}

.cardV {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.cardV:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

#head {
    padding-top: 2%;
    padding-bottom: 2%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.panel {
    padding-top: 0.5%;
    padding-bottom: 0.5%;
}

.panel p {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.panel h5 {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

#particles-js {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.col img {
    height: 100%;
    width: 100%;
    transition: width 1s;
}

.col img:hover {
    width: 110%;
}

.expand {
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

#privacyPanel {
    position: absolute;
    background-color: #2F688DEE;
    height: 30%;
    width: 100%;
    top:35%;
}

#privacyPanel h1 {
    font-size: 4vw;
}

#privacyPanel h5 {
    font-size: 2vw;
}